{% extends 'base.html.twig' %}

{% block title %} CF: Pointage {% endblock %}

{% block body %}
    <main class="flex flex-col lg:flex-row">
        <div class="px-12 pt-10 w-full">
            <h1 class="text-4xl font-semibold mb-8">
                Pointages
            </h1>
            <div id="calandarId" class="space-y-5 divide-y divide-gray-100">
            </div>
        </div>
    </main>
{% endblock %}
